<div class="max-w-7xl mx-auto p-6 bg-white rounded-xl shadow-md">
  <h2 class="text-2xl font-semibold text-center text-gray-800 mb-6 uppercase tracking-wide">
    My Reclamations
  </h2>

  <div class="flex justify-end mb-4">
    <button 
      class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 text-sm rounded transform hover:scale-105 transition shadow-md"
      (click)="addReclamation()">
      Ajouter Réclamation
    </button>
  </div>

  <div *ngIf="isLoading" class="bg-blue-100 text-blue-800 p-3 rounded mb-4 text-sm animate-pulse">
    Chargement...
  </div>
  <div *ngIf="error" class="bg-red-100 text-red-800 p-3 rounded mb-4 text-sm">
    {{ error }}
  </div>

  <div *ngIf="!isLoading && reclamations.length > 0" class="card-container">
    <div
      *ngFor="let r of reclamations"
      class="card"
    >
      <div>
        <h3>Réclamation #{{ r.id }}</h3>
        <p><strong>Date :</strong> {{ r.dateReclamation | date: 'short' }}</p>
        <p><strong>Description :</strong> {{ r.description }}</p>
        <p><strong>Type :</strong> {{ r.type }}</p>
        <p><strong>Email :</strong> {{ r.emailClient }}</p>
        <p><strong>Statut :</strong> {{ r.statut }}</p>
        <p><strong>Commande ID :</strong> {{ r.orderId }}</p>
        
        <div *ngIf="selectedReclamationId === r.id && selectedQrCodeUrl" class="mt-2">
          <img [src]="selectedQrCodeUrl" alt="QR Code" class="w-32 h-32 object-contain border p-2" />
        </div>

        <button (click)="showQrCode(r.id!)" class="ml-2 bg-blue-500 hover:bg-blue-600 text-white px-2 py-1 rounded">
          Voir QR Code
        </button>
        
        
      </div>
      
      <div class="mt-4">
        <button (click)="goToDetail(r.id!)">
          Update
        </button>
        <button (click)="deleteReclamation(r.id!)">
          Delete
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading && reclamations.length === 0" class="bg-yellow-100 text-yellow-800 p-3 rounded text-sm mt-4">
    Aucune réclamation trouvée.
  </div>
</div>
